<%- include("partials/head.ejs") %>
<header class="container mb-3">
    <h1>
        UBlog
    </h1>
    <hr>
</header>
<main class="container">
    <div class="p-4 p-md-5 rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-6 px-0">
            <h1 class="display-4 fst-italic mb-3">Welcome to my simple blog website.</h1>
            <div class="lead mb-3">Created by John Carlo Labanero🫂</div>
            <div class="col-10 col-sm-8 col-lg-6">
                <div class="create-parent">
                    <form action="/post" method="post" class="form-floating">
                        <input type="text" name="mode" value="Create" hidden>
                        <input type="submit" value="Create new Post" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <% if (locals.response.data) { %>
        <% posts = response.data %>
        <% for( let index = 0; index < posts.length; index++ ) { %>
            <form action="/post" method="post" class="post">
                <hr>
                <h1 class="title"><%= posts[index].title %></h1>
                <h6 class="subtitle">
                    <p class="date"><%= posts[index].date %> by <em class="name"><%= posts[index].name %></em></p>
                </h6>
                <p class="content"><%= posts[index].content %></p>
                <input type="submit" name="mode" value="Update" class="btn btn-primary">
                <input type="submit" name="mode" value="Delete" class="btn btn-danger">
                <input type="text" name="index" value="<%= index %>" hidden>
            </form>
        <% } %>
    <% } %>
    <hr>
    <div class="create-parent" id="create-parent">
        <form action="/post" method="post" class="form-floating">
            <input type="text" name="mode" value="Create" hidden>
            <input type="submit" value="Create new Post" class="btn btn-primary">
        </form>
    </div>
</main>

<%- include("partials/foot.ejs") %>